body{
    background-color: #DCDBD3!important;
}

.bg_green{
    background-color: #009688;
    height: 100px;
}



.container{
    height: 815px;
    margin-top: -70px;
    background-color: white;
}

.user{
    background-color: #EAEAEA;
    padding: 10px 10px;
   
}

.bor_bol{
     border-right: 1px solid lightgray;
}

.user_info{
    display: flex;
    align-items: end;
}

.user_style{
    width: 50px;
    border-radius: 50%;
}

.user_icon{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.user_icon i{
    color: #B1B1B1;
}

.icon_p{
    padding: 0 20px;
}

/*  */
.desk_notify{
    background-color: #8EDAFC;
    padding: 15px;
}

.icon_container{
    height: 100%;
}

.icon_container i{
    font-size: 1.5rem;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    color: #8EDAFC;
}

.alert_notify p{
margin: 0;
}


/*  */

.chat_container{
    height: 667px;
    background-color: white;
    overflow-y: scroll;
}

.chat_finder{
    padding: 5px;
    background-color: #EAEAEA;
}

.chat_user{
    height: 85px;
}

.avatar_style{
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin: auto 0;
}

.name{
    padding: 0 10px;
    font-size: 1.3rem;
}

/*  */

.chat_active{
    background-image: url(./img/mine.jpg);
    height: 670px;
    padding: 35px 45px 20px 45px;
    overflow-y: scroll;
}

.sent{
    text-align: right;
    background-color: #D5F9BA;
}

.received{
    text-align: left;
    background-color: white;
}
.message{

}
/*  */

.chat_input{
    height: 75px;
     background-color: #EAEAEA;
     padding: 10px 0;
}

.input_container{
    height: 100%;
    padding: 0 15px;
}

.icon_size{
    font-size: 1.7rem;
}