.bg_green{
    background-color: #009688;
    height: 100px;
}

.bg_gray{
    background-color: #DCDBD3;
}


.container{
    height: 815px;
    margin-top: -75px;
    background-color: black;
}

.user{
    background-color: #EAEAEA;
    padding: 5px 10px;
}

.user_info{
    display: flex;
    align-items: end;
}

.avatar_style{
    width: 50px;
    border-radius: 50%;
}

.user_icon{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.user_icon i{
    color: #B1B1B1;
}

.icon_p{
    padding: 0 20px;
}